.container{
    display:grid;
    place-items: center;
}
.card-img-top{
    height: 225px;
}
h2{
    color:gold;
    font-size: 40px;
    font-style: italic;
    margin-top:35px;
    margin-bottom:20px;
    text-align: center;
}

.card-title{
    text-align: center;
    font-weight: bold;
    flex: 1 1 auto;
}
.card-text{
    text-align: center;
    font-style: italic;
    font-size: 17px;
    text-size-adjust: initial;
    flex: 1 1 auto;

}
h5{
    color:navy;
    text-align: center;
    font-size: 23px;

    
}

.btn{
    width:100%;
    text-align: center;
    border: 2px solid black;

}
/*.card{
    box-shadow: 8px 8px 8px crimson;
    display: flex;
    flex-direction: column;
}*/
.card-img-top{
    border: 3px solid navy;
}
.card{
    opacity: 0.8;
}
.card:hover{
    transform: scale(1.08);
    transition: 1s;
    opacity: 1.0;
 
}
.card-body{
    display: flex;
    flex-direction: column;
}
.widthh{
    width: 18rem;
}
.shadoww{
    box-shadow: 6px 6px 6px red;
}
.background{
    background-color: gold;
}
.borderr{
    border: 2px solid red;
}
.maxx{
    max-width: 100%;
}