<div class="container-fluid p-0 m-0 align-items-center justify-content-center d-flex" style="min-height: 100vh; background-color: black;">
   
    <!-- Row for the card-->
    
    <div class="row w-100 w-0">
        <h2><marquee>Sports & Music</marquee></h2>
        <!-- Column for card-->
        <button type="button" class="btn btn-default" style="background-color: gold;" (click)="hide_products()">Show Products<i class="fa fa-arrow-down"></i></button>
        <div class="col-lg-4 mb-4 mt-4" *ngFor="let prods of sport">
            <div class="card mx-auto h-100" style="width:18rem; background-color: gold; border: 4px solid red;  box-shadow: 8px 8px 8px crimson;" [ngSwitch]="prods.status" *ngIf="isVisible">
                <img class="card-img-top" src={{prods.pimage}} alt="Card image cap">

                <div class="card-body">
                    
                    <h4 class="card-title mb-4">{{prods.pid}}. {{prods.pname | uppercase}} <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span></h4>
                    
                    <div  [hidden]="productDetail">
                    <p class="card-text">{{prods.pdesc}}</p>
                    <h5>{{prods.price | currency: "INR"}}</h5>
                    </div>
                   
                    <button  *ngSwitchCase="'In Stock'" class="btn btn-outline-success" type="submit">In Stock</button>
                    <button  *ngSwitchCase="'Few In Stock'" class="btn btn-outline-warning" type="submit" style="color:black;">Few In Stock</button>
                    <button  *ngSwitchCase="'Out Of Stock'" class="btn btn-outline-danger" type="submit">Out Of Stock</button>
                
                </div>
            </div>
        </div>
        
        
    </div>
    
    
    
</div>