<div class="card mx-auto" [ngSwitch]="product.status" [ngClass]="prod">
    <img class="card-img-top" src={{product.pimage}} alt="Card image cap">

    <div class="card-body">

        <h4 class="card-title mb-4">{{product.pid}}. {{product.pname | uppercase}} <span
                (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span></h4>
        

                <div [hidden]="productDetail" *ngSwitchCase="'In Stock'">
                    <p class="card-text">{{product.pdesc}}</p>
                    <span style="margin-left: 22%;">Quantity : <input type="number" name="quantity" [(ngModel)]="quantity" style="width:18%;border-radius:10px;" min="1"
                        max="25"></span>
                    <h5 class="alert alert-success mt-1">{{product.price | currency: "INR"}}</h5>
        
                </div>
                <div [hidden]="productDetail" *ngSwitchCase="'Few In Stock'">
                    <p class="card-text">{{product.pdesc}}</p>
                    <span style="margin-left: 22%;">Quantity : <input type="number" name="quantity" [(ngModel)]="quantity" style="width:18%;border-radius:10px;" min="1"
                        max="25"></span>
                    <h5 class="alert alert-warning mt-1">{{product.price | currency: "INR"}}</h5>
        
                </div>
                <div [hidden]="productDetail" *ngSwitchCase="'Out Of Stock'">
                    <p class="card-text">{{product.pdesc}}</p>
                    <span style="margin-left: 22%;">Quantity : <input type="number" name="quantity" [(ngModel)]="quantity" style="width:18%;border-radius:10px;" min="1"
                        max="25"></span>
                    <h5 class="alert alert-danger mt-1">{{product.price | currency: "INR"}}</h5>
        
                </div>

                <div class="row">
                    <div class="col-6">
                        <button *ngSwitchCase="'In Stock'" class="btn btn-outline-success" type="submit" (click)="InStock()">In
                            Stock</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-dark" *ngSwitchCase="'In Stock'" (click)="addToCart(product)">Add to
                            Cart</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button *ngSwitchCase="'Few In Stock'" class="btn btn-outline-warning" type="submit"
                            style="color:black; font-size: 15px;" (click)="FewInStock()">Few In Stock</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-dark" *ngSwitchCase="'Few In Stock'" (click)="addToCart(product)">Add to
                            Cart</button>
                    </div>
                </div>
                <button *ngSwitchCase="'Out Of Stock'" class="btn btn-outline-danger" type="submit" (click)="OutOfStock()">Out
                    Of
                    Stock</button>
    </div>
</div>