<!--<div class="container-fluid  w-100" style="background-color: black; height: 200px;"><h2><marquee>Deal Of The Day</marquee></h2></div>-->
<div class="container-fluid p-0 m-0 align-items-center justify-content-center d-flex" style=" background-color: black; min-height: calc( 100vh - 64px);">
   
    <!-- Row for the card-->
    
    <div class="row w-100 w-0">
        <h2><marquee>Mobile & Laptops</marquee></h2>
        <!-- Column for card-->
        <button type="button" class="btn btn-default" style="background-color: gold;" (click)="hide_products()">Show Products<i class="fa fa-arrow-down"></i></button>
        <div class="row w-100 w-0 mx-auto" *ngIf="isVisible">
            <app-products class="col-lg-4 col-md-6 col-sm-12 mt-4 mb-4"  [product]="productItem" *ngFor="let productItem of all"></app-products>
        </div>
        
        
    </div>
    
    
    
</div>
