.container{
    display:grid;
    place-items: center;
}
.card-img-top{
    height: 250px;
}
h2{
    color:gold;
    font-size: 40px;
    font-style: italic;
    margin-top:35px;
    text-align: center;
}

.card-title{
    text-align: center;
    font-weight: bold;
}
.card-text{
    text-align: center;
    font-style: italic;
    font-size: 17px;
    

}
h5{
    color:navy;
    text-align: center;
    font-size: 23px;

    
}
.card{
    opacity: 0.8;
}


.btn{
    width:50%;
    margin-left: 25%;
    text-align: center;
    justify-items: center;
    align-items: center;
    border: 2px solid black;

}
.card{
    opacity: 0.8;
}
.card-img-top{
    border: 3px solid navy;
}
.card:hover{
    transform: scale(1.08);
    opacity: 1.0;
    transition: 1s;
 
}
.widthh{
    width: 18rem;
}
.shadoww{
    box-shadow: 6px 6px 6px red;
}
.background{
    background-color: gold;
}
.borderr{
    border: 2px solid red;
}
.maxx{
    max-width: 100%;
}