<nav class="navbar navbar-dark" [style.background-color]="'gold'">
    <div class="container-fluid">
        <h1 style="color: black; font-size: 20px;">USER DETAILS</h1>
        <div class="d-flex">
            <!-- Button trigger modal -->
            <button (click)="clickAddProduct()" type="button" class="btn btn-dark" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <span style="color:white;" class="me-2">Add New User</span><i class="fa-sharp fa-solid fa-user-plus"></i>
            </button>
        </div>
    </div>
</nav>
<table class="table table-bordered bg-dark" style="color:white; text-align: center;">
    <thead>
        <tr>
            <th scope="col-1">User ID</th>
            <th scope="col-2">Username</th>
            <th scope="col-4">User Email ID</th>
            <th scope="col-1">Password</th>
            <th scope="col-1">Mobile No.</th>
            <th scope="col-2">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of userData">
            <td>{{product.id}}</td>
            <td>{{product.username}}</td>
            <td>{{product.useremail}}</td>
            <td>{{product.password}}</td>
            <td>{{product.mobile}}</td>
            <td>
                <button (click)="onEdit(product)" type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                </button>&nbsp;
                <button (click)="deleteUsers(product)" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="background-color: black;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: gold;">
                <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: black; color:gold;">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label class="form-label">User Name</label>
                        <input type="text" class="form-control" name="username" formControlName="username"
                            placeholder="Enter Username" required>
                            <label class="error ng-binding" *ngIf="f['username'].errors?.['required']">Name is required</label>
                            <label class="error ng-binding" *ngIf="f['username'].errors?.['pattern']">Name pattern not matched</label>
                            <label class="error ng-binding" *ngIf="f['username'].errors?.['minlength']">Min. Length of characters should be 6</label>
                            <label class="error ng-binding" *ngIf="f['username'].errors?.['maxlength']">Min. Length of characters is 14</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">User Email ID</label>
                        <input type="useremail" class="form-control" name="useremail" formControlName="useremail"
                            placeholder="Enter email"
                            required>
                            <label class="error ng-binding" *ngIf="f['useremail'].errors?.['required']">Email is required</label>
                            <label class="error ng-binding" *ngIf="f['useremail'].errors?.['pattern']">Email ID pattern not matched</label>
                        </div>
            
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password" formControlName="password"
                    placeholder="Enter password">
                <label class="error ng-binding" *ngIf="f['password'].invalid">Password is
                    required</label>
                <label class="error ng-binding" *ngIf="f['password'].errors?.['minlength']">Minimum Password
                    Length is
                    6 Characters</label>
            </div>
            <div class="mb-3">
                <label class="form-label">Mobile No.</label>
                <input type="number" class="form-control" name="mobile" formControlName="mobile"
                    placeholder="Enter Mobile number">
                <label class="error ng-binding" *ngIf="f['mobile'].invalid">Mobile number is
                    required</label>
                <label class="error ng-binding" *ngIf="f['mobile'].errors?.['pattern']">Mobile number must
                    be valid</label>
            </div>
            </form>
        </div>
        <div class="modal-footer" style="background-color: black;">
            <button type="submit" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" *ngIf="showAdd" (click)="postUserDetails()" class="btn btn-success">Add</button>
            <button type="submit" *ngIf="showUpdate" (click)="updateUserDetails()"
                class="btn btn-warning">Update</button>
        </div>
    </div>
</div>