<!-- class="col col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-4 mb-4"-->
<!-- <div class="container-fluid p-0 m-0 align-items-center justify-content-center d-flex" style=" background-color: black;"> -->
    <!-- <div class="row w-100 w-0"> -->
        <!-- <div class="col col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-4 mb-4"> -->
            <div class="card mx-auto"
                [ngSwitch]="product.status" [ngClass]="prod_array">
                <img class="card-img-top" src={{product.pimage}} alt="Card image cap">

                <div class="card-body">

                    <h4 class="card-title mb-4">{{product.pid}}. {{product.pname | uppercase}} <span
                            (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span></h4>

                            <div [hidden]="productDetail" *ngSwitchCase="'In Stock'">
                                <p class="card-text alert alert-success">{{product.pdesc}}</p>
                                <app-counter></app-counter>
                                <h5>{{product.price | currency: "INR"}}</h5>
                    
                            </div>
                            <div [hidden]="productDetail" *ngSwitchCase="'Few In Stock'">
                                <p class="card-text alert alert-warning">{{product.pdesc}}</p>
                                <app-counter></app-counter>
                                <h5>{{product.price | currency: "INR"}}</h5>
                    
                            </div>
                            <div [hidden]="productDetail" *ngSwitchCase="'Out Of Stock'">
                                <p class="card-text alert alert-danger">{{product.pdesc}}</p>
                                <app-counter></app-counter>
                                <h5>{{product.price | currency: "INR"}}</h5>
                    
                            </div>

                    <button *ngSwitchCase="'In Stock'" class="btn btn-outline-success" type="submit" (click)="InStock()">In Stock</button>
                    <button *ngSwitchCase="'Few In Stock'" class="btn btn-outline-warning" type="submit"
                        style="color:black;" (click)="FewInStock()">Few In Stock</button>
                    <button *ngSwitchCase="'Out Of Stock'" class="btn btn-outline-danger" type="submit" (click)="OutOfStock()">Out Of
                        Stock</button>
                </div>
            </div>
         <!-- </div>  -->
    <!-- </div> -->
<!-- </div> -->