.prodimg{
    height:60px;
    width:70%;
    margin-left: 15%;
    align-items: center;
    /* margin-left:100px; */
    margin-top:10px;
    margin-bottom:10px;
    /* border-radius:10px; */

}

tr:hover{
    background-color: gold;
    color:black;
}