<div class="container-fluid" style="background-color: black;">
  <br>
  
  
  <form class="d-flex">

    <input class="form-control me-2" #username placeholder="Enter The User Name" type="text" aria-label="Search">
    <input class="form-control me-2" #password placeholder="Enter The Password" type="text" aria-label="Search">
    <button class="btn btn-outline-success" type="submit"
      (click)="searchuser(username.value,password.value);username.value='';password.value='';">Register</button>

  </form>
  <br>
  <app-user [usernameentered]="usernameentered" [passwordentered]="passwordentered"></app-user>


  <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.pinimg.com/originals/1d/9d/62/1d9d62cf8708edff88c4961ca0cd1892.png" class="d-block w-100"
          alt="...">
        <div class="carousel-caption d-block">
          <h5 style="color:gold;">Push every extreme and feed the beast.</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.squarespace-cdn.com/content/v1/58586fa5ebbd1a60e7d76d3e/1492608130811-H742JPZP5H8W2N5HGV6G/smartphone3-copy.jpg?format=1500w"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h5 style="color:gold;">Push every extreme and feed the beast.</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://static.bhphotovideo.com/explora/sites/default/files/styles/960/public/ts-bose-headphones-700-noise-canceling-headphones-2019.jpg?itok=XzKHtiy5"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h5 style="color:gold;">Push every extreme and feed the beast.</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <app-pop-products></app-pop-products>
  
  <app-advertisement></app-advertisement>
  

  <div class="container">
    <h1 class="text-center m-3" style="color:gold;">SUBSCRIBE TO OUR NEWSLETTER</h1>
</div>
  
  <section class="bg-dark text-center p-5 mt-4">

    <h3 class="text-white">SUBSCRIBE NOW</h3>
    <form class="d-flex">
      <input class="form-control me-2" type="text" name="text" placeholder="Enter Your Email Id">
      <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: gold;">Subscribe<i
          class="fa fa-envelope"></i></button>
    </form>
  

  </section>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: gold;">
          <h5 class="modal-title" id="exampleModalLabel">Feedback Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background-color: black; color:white;">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">User Name</label>
              <input type="text" class="form-control" id="recipient-name" value="{{usernameentered}}">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">How did you know about us..</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer" style="background-color: gold;">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="sendmsg()">Send message</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-dark text-center text-lg-start" id="foot">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: gold; font-weight: bold;">
      © 2020 Copyright:
      <a class="text-center p-3" style="color: black;">www.TechKart.com</a>
    </div>
    <!-- Copyright -->
  </footer>


</div>