<!-- <div class="container-fluid" style="background-color: black; min-height: 100vh;"> -->
    <br>
    <h1 style="text-align: center; color:red; ">
        <marquee>Registration/Sign Up</marquee>
    </h1><br><br>
    <!--<div class="bodyy">
        <form [formGroup]="myForm" novalidate action="">
            <fieldset
                style="width:50%; margin-left: 25%; background-color: gold;color: blue;border-radius: 15px;border:5px solid red;border-style:double;box-shadow: 10px 10px 5px red;">
                <legend style="color:crimson">Registration Details</legend>
                <div class="form-group">
                    <label for="userName">Username</label><br>
                    <input type="text" name="fname" style="width: 100%;" class="form-control"
                        placeholder="Enter username" formControlName="username"
                        [ngClass]="{'is-invalid':username.errors && (username.touched||username.dirty),'is-valid':username.valid}" required><br>
                    <span class="invalid-feedback">
                        <strong *ngIf="username.errors?.required">Name is Required</strong>
                        <strong *ngIf="username.errors?.pattern">Only Alphabets allowed(A-Z and a-z)</strong>
                        <strong *ngIf="username.errors?.minlength">Min length is 6 characters</strong>
                        <strong *ngIf="username.errors?.maxlength">Max length is 16 characters</strong>
                    </span>
                </div>
                <div class="form-group">
                    <label>Password</label><br>
                    <input type="password" name="password" style="width: 100%;" class="form-control"
                        placeholder="Enter password" formControlName="password"
                        [ngClass]="{'is-invalid':password.errors && (password.touched||password.dirty),'is-valid':password.valid}"><br>
                    <span class="invalid-feedback">
                        <strong *ngIf="password.errors?.required">Password is Required</strong>
                        <strong *ngIf="password.errors?.pattern">Pattern does not match</strong>
                        <strong *ngIf="password.errors?.minlength">Min length is 6 characters</strong>
                        <strong *ngIf="password.errors?.maxlength">Max length is 16 characters</strong>
                    </span>
                </div>
                <div class="form-group">
                    <label>Email ID</label><br>
                    <input type="email" name="email" style="width: 100%;" class="form-control" placeholder="Enter email"
                        formControlName="useremail"
                        [ngClass]="{'is-invalid':useremail.errors && (useremail.touched||useremail.dirty),'is-valid':useremail.valid}"><br>
                    <span class="invalid-feedback">
                        <strong *ngIf="useremail.errors?.required">Email is Required</strong>
                        <strong *ngIf="useremail.errors?.pattern">Pattern Doesnot Match</strong>
                    </span>
                </div>
                <div class="form-group">
                    <label>Mobile Number</label><br>
                    <input type="number" name="number" style="width: 100%;" class="form-control"
                        placeholder="Enter Mobile" formControlName="mobile"
                        [ngClass]="{'is-invalid':mobile.errors && (mobile.touched||mobile.dirty),'is-valid':mobile.valid}"><br>
                    <span class="invalid-feedback">
                        <strong *ngIf="mobile.errors?.required">Mobile number is Required</strong>
                        <strong *ngIf="mobile.errors?.pattern">Mobile number should match the pattern</strong>
                    </span>
                </div>
                <div class="form-group">
                    <label>Age</label><br>
                    <input type="number" style="width: 100%;" class="form-control" placeholder="Enter Age"
                        formControlName="age"
                        [ngClass]="{'is-invalid':age.errors && (age.touched||age.dirty),'is-valid':age.valid}"><br>
                    <span class="invalid-feedback">
                        <strong *ngIf="age.errors?.required">Age is Required</strong>
                        <strong *ngIf="age.errors?.min">Age Min. Value is 21</strong>
                        <strong *ngIf="age.errors?.max">Age Max. Value is 25</strong>
                    </span>
                </div>
                <div class="form-group">
                    <label>Date of Birth</label><br>
                    <input type="date" style="width: 100%;" class="form-control" placeholder="Enter DOB"
                        formControlName="dob"
                        [ngClass]="{'is-invalid':dob.errors && (dob.touched||dob.dirty),'is-valid':dob.valid}"><br>
                    <span class="invalid-feedback">
                        <strong *ngIf="dob.errors?.required">Date Of Birth is Required</strong>
                        <strong *ngIf="dob.errors?.pattern">DOB should match the pattern</strong>
                    </span>
                </div>
                <div class="form-group form-check">
                    <label>Gender</label><br>
                    <div class="radioo">
                        <input type="radio" value="Female" formControlName="gender"
                            [ngClass]="{'is-invalid':gender.errors && (gender.touched||gender.dirty),'is-valid':gender.valid}" required>Female<br>
                        <input type="radio" value="Male" formControlName="gender"
                            [ngClass]="{'is-invalid':gender.errors && (gender.touched||gender.dirty),'is-valid':gender.valid}" required>Male<br>
                            <span>
                                <strong *ngIf="gender.errors?.required">Gender is Required</strong>
        
                            </span>
                    </div>
                    
                </div>
                <div class="form-group">
                    <label>Address</label><br>
                    <textarea class="form-control" placeholder="Enter Address" formControlName="address"
                        [ngClass]="{'is-invalid':address.errors && (address.touched||address.dirty),'is-valid':address.valid}"></textarea><br>
                    <span class="invalid-feedback">
                        <strong *ngIf="address.errors?.required">Address is Required</strong>
                        <strong *ngIf="address.errors?.maxlength">Max Length is 256 characters</strong>
                    </span>
                </div>
                <div class="form-group">
                <label>Select Default Mode Of Payment</label><br>
                <select name="course" style="width:100%; margin-top:10px; margin-bottom:15px; padding:7px;"  formControlName="payment"
                [ngClass]="{'is-invalid':payment.errors && (payment.touched||payment.dirty),'is-valid':payment.valid}">
                    <optgroup label="UPI Payment">
                        <option>GPay</option>
                        <option>PhonePe</option>
                        <option>Paytm</option>
                    </optgroup>
                    <optgroup label="Card Payment">
                        <option>Debit Card</option>
                        <option>Credit Card</option>
                    </optgroup>
                    <optgroup label="Net Banking">
                    </optgroup>
                    <optgroup label="TechKart E-Payment">
                        <option>TechPay</option>
                        <option>TechKart E-Wallet</option>
                    </optgroup>
                    <optgroup label="Cash">
                    </optgroup>
                </select><br><br>
                <span class="invalid-feedback">
                    <strong *ngIf="payment.errors?.required">Select Mode Of Payment</strong>
                    
                </span>
                </div>
                <div class="form-group form-check">
                <label>Agreement</label><br>
                <div class="checkb">
                    <input type="checkbox" value="accept" formControlName="agreement"
                    [ngClass]="{'is-invalid':agreement.errors && (agreement.touched||agreement.dirty),'is-valid':agreement.valid}">Accept Terms & Conditions<br>
                    <span>
                        <strong *ngIf="agreement.errors?.required">Accept Agreement</strong>
                        
                    </span>
                </div>
               
                </div>
                <a href=""><button type="Submit"
                        style="width: 100%; background-color: navy; color: lime; border: 3px solid yellow; border-radius: 15px; padding:10px; font-size: 20px;" (click)="OnSubmit()">Submit</button></a>

            </fieldset>

        </form>
        <div>
            <h3 style="color:blanchedalmond; text-align:center; margin-top:20px;">User Details</h3>
            <pre style="color:white; text-align: center; justify-content: center; font-size: 15px;">{{myForm.value | json}}</pre>
        </div>
    </div>-->
    <div class="mt-5">
        <div class="col-md-12 min-vh-100 d-flex flex-column">
            <div class="login-form">
                <form class="mt-5" [formGroup]="registerForm" (ngSubmit)="submitHandler()">
                    <h2 class="text-center secondary ms-mb-m main-heading ng-binding">Signup with Amazon</h2>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" formControlName="username"
                            placeholder="Enter Username">
                        <label class="error ng-binding" *ngIf="submitted && f['username'].invalid">Name is required
                        </label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="email" class="form-control" name="useremail" formControlName="useremail"
                            placeholder="Enter email">
                        <label class="error ng-binding" *ngIf="submitted && f['useremail'].invalid">Email is required
                            </label>
                        <label class="error ng-binding" *ngIf="submitted && f['useremail'].errors?.['useremail']">Email must
                            be a
                            valid email address</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" formControlName="password"
                            placeholder="Enter password">
                        <label class="error ng-binding" *ngIf="submitted && f['password'].invalid">Password is
                            required</label>
                        
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" class="form-control" name="mobile" formControlName="mobile"
                            placeholder="Enter Mobile number">
                        <label class="error ng-binding" *ngIf="submitted && f['mobile'].invalid">Mobile number is required</label>
                        
                    </div>
                    <br>
                    <button type="submit" class="btn btn-warning">Register</button>
                    <div class="text-center ms-mt-x ms-mb-m register-already-account" style="padding-top:30px">
                        <span class="ms-fs-12 ng-binding">Already have an account?
                            <a class="secondary ng-binding" href="login">
                                Login!
                            </a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- </div> -->


